{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Incomplete</title>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>
<body>
    <script type="module">
        import {showAlert} from "{% static 'scripts/alert.js' %}";

        showAlert("error", "{{ alert_title|escapejs }}", "{{ alert_message|escapejs }}", "{{ redirect_url|escapejs }}");
    </script>
</body>
</html>
